name: CI

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  # enable incremental cargo builds
  CARGO_INCREMENTAL: 1

permissions:
  pull-requests: write

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: cargo test
        run: cargo test

  clippy:
    runs-on: ubuntu-latest
    permissions:
      checks: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - uses: auguwu/clippy-action@1.4.0
        with:
          token: ${{secrets.GITHUB_TOKEN}}

  formatting:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # Ensure rustfmt is installed and setup problem matcher
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1

  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        # You can add more, for any target you'd like!
        include:
          - build: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            binary: "pippo"

          - build: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            binary: "pippo"

          - build: macos_x86_64
            os: macos-latest
            target: x86_64-apple-darwin
            binary: "pippo"

          - build: windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
            binary: "pippo.exe"

    steps:

    - uses: actions/checkout@v6

    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: ${{ matrix.target }}

    - name: Build binary
      run: |
        cargo install cross
        cross run --release --verbose --target ${{ matrix.target }} help

    - name: Archive snapshot binary
      uses: actions/upload-artifact@v4
      with:
        name: pippo-build-${{ matrix.target }}
        path: target/${{ matrix.target }}/release/${{ matrix.binary }}

