name: CI

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  # sccache: global defaults
  RUSTC_WRAPPER: sccache
  #SCCACHE_CACHE_SIZE: 1G
  #SCCACHE_DIR: .cache/sccache
  SCCACHE_GHA_ENABLED: "true"

permissions:
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1


      #- name: Prepare sccache dir
      #  run: |
      #    mkdir -p "${SCCACHE_DIR}"
      #    chmod -R +rwx ${SCCACHE_DIR}
            

      #- name: Cache sccache
      #  uses: actions/cache@v4
      #  with:
      #    path: ${{ env.SCCACHE_DIR }}
      #    key: sccache-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
      #    restore-keys: |
      #      sccache-${{ runner.os }}-

      - name: Start sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: cargo test
        run: cargo test

  clippy:
    runs-on: ubuntu-latest
    permissions:
      checks: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

     # - name: Cache sccache
     #   uses: actions/cache@v4
     #   with:
     #     path: ${{ env.SCCACHE_DIR }}
     #     key: sccache-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
     #     restore-keys: |
     #       sccache-${{ runner.os }}-

      - name: Start sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - uses: auguwu/clippy-action@1.4.0
        with:
          token: ${{secrets.GITHUB_TOKEN}}

  formatting:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # Ensure rustfmt is installed and setup problem matcher
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1

  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        # You can add more, for any target you'd like!
        include:
          - build: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            binary: "pippo"

          - build: macos_x86_64
            os: macos-latest
            target: x86_64-apple-darwin
            binary: "pippo"

          - build: windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
            binary: "pippo.exe"

    steps:

    - uses: actions/checkout@v6

    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: ${{ matrix.target }}

    - name: Cache sccache
      uses: actions/cache@v4
      with:
        path: ${{ env.SCCACHE_DIR }}
        key: sccache-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          sccache-${{ runner.os }}-

    - name: Start sccache
      uses: mozilla-actions/sccache-action@v0.0.6

    - name: Build binary
      run: |
        cargo install cross
        cross run --release --verbose --target ${{ matrix.target }} help

    - name: Archive snapshot binary
      uses: actions/upload-artifact@v4
      with:
        name: pippo-build-${{ matrix.target }}
        path: target/${{ matrix.target }}/release/${{ matrix.binary }}

