name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

permissions:
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Run clippy
        run: cargo clippy --no-deps

      - name: cargo test
        run: cargo test

#  lint:
#    if: github.event_name != 'pull_request'
#    runs-on: ubuntu-latest
#    permissions:
#      contents: write
#    steps:
#      - uses: actions/checkout@v4
#
#      - name: Rust Cache
#        uses: Swatinem/rust-cache@v2
#
#      - uses: dtolnay/rust-toolchain@stable
#        with:
#          components: rustfmt
#
#      - uses: mbrobbel/rustfmt-check@master
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#          mode: commit

  lint:
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v4

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - uses: mbrobbel/rustfmt-check@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          mode: review

  build:
    runs-on: ${{ matrix.os }}

    
    strategy:
      matrix:
        # You can add more, for any target you'd like!
        include:
          - build: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu

          - build: macos_x86_64
            os: macos-latest
            target: x86_64-apple-darwin

          - build: windows
            os: windows-latest
            target: x86_64-pc-windows-msvc

    steps:
    - name: Determine git sha
      uses: haya14busa/action-cond@v1
      id: gitsha
      with:
        cond: ${{ github.event_name == 'pull_request' }}
        if_true: ${{ github.event.pull_request.head.sha }}
        if_false: ${{ github.sha }}

    - uses: actions/checkout@v4

    - name: Rust Cache
      uses: Swatinem/rust-cache@v2

    - uses: dtolnay/rust-toolchain@stable
      with: 
        targets: ${{ matrix.target }}

    - name: Build
      uses: actions-rs/cargo@v1
      with:
        use-cross: true
        command: run
        args: --release --verbose --target ${{ matrix.target }} help

    #- name: List results
    #  id: list_results
    #  run: |
    #    /target/x86_64-unknown-linux-gnu/release/pippo
    #    ls -laR

    - name: Archive debug binary
      uses: actions/upload-artifact@v4
      with:
        name: pippo-build-${{ matrix.target }}-${{ steps.gitsha.outputs.value }}
        path: target/${{ matrix.target }}/release/pippo

